---
interface Props {
  roles: string[];
  class?: string;
  textClass?: string;
}

const { roles, class: className = '', textClass = 'text-heading-3 sm:text-heading-2' } = Astro.props;
---

<div class:list={['typewriter-container', className]} data-typewriter data-roles={JSON.stringify(roles)}>
  <span data-typewriter-text class:list={['typewriter-text', textClass]} aria-label={roles[0]} role="text"></span>
  <span class="typewriter-caret" aria-hidden="true"></span>
</div>
<span class="sr-only">{roles[0]}</span>

<style>
  .sr-only { position:absolute;width:1px;height:1px;padding:0;margin:-1px;overflow:hidden;clip:rect(0,0,0,0);white-space:nowrap;border:0; }
</style>